version: 1.0.{build}
image: Visual Studio 2017
before_build:
- cmd: npm install -g bower
build_script:
- cmd: >-
    dotnet restore

    dotnet publish -c Release
hosts:
  api.nuget.org: 93.184.221.200
artifacts:
 - path: '/bin/Release/netcoreapp1.1/publish/**/*.*'
   name: NexosisFitbit
   type: WebDeployPackage
deploy:
- provider: Environment
  name: Nexosis Fitbit Dev