<?xml version="1.0" encoding="utf-8"?>
 <configuration>
   <config>
   </config>
   <activePackageSource>
  	<add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <add key="appveyor" value="https://ci.appveyor.com/nuget/fitbit-net-kiy33nlfu47j" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <bindingRedirects>
    <add key="skip" value="True" />
  </bindingRedirects>
 </configuration>